<h1>Bienvenido a chqto</h1>

<%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Registrarse", new_user_registration_path, class: "btn btn-success" %>

<div>
  <p>Este es un servicio para acortar enlaces y compartirlos fácilmente.</p>
  <p>Inicia sesión o regístrate para comenzar a usarlo.</p>
</div>

<footer>
  <p>&copy; 2023 Mi Acortador de Enlaces</p>
</footer>
