<h1>Chqto</h1>
<%= link_to "Iniciar sesión", new_user_session_path  %>
<%= link_to "Registrarse", new_user_registration_path  %>
<%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
<p>Acá va a estar la pagina principal</p>
