<h1>Bienvenido a chqto</h1>

<div>
  <p>Este es un servicio para acortar enlaces y compartirlos fácilmente.</p>
  <p>Inicia sesión o regístrate para comenzar a usarlo.</p>
</div>

<footer>
  <p>&copy; 2023 chqto </p>
</footer>
