<h1>Links</h1>
<div>
  <hr>
  <% @links.each do |link| %>
    <%= render link %>
    <p>
      <%= link_to "Más información", link %>
    </p>
    <hr>
  <% end %>
  <%= will_paginate @links, previous_label: 'Anterior', next_label: 'Siguiente', previous_disabled_class: 'disabled', next_disabled_class: @links.next_page ? nil : 'disabled' %>

</div>

<%= link_to "Crear link", new_link_path %>
